@model edutecniDotnetCore2.ViewModel.ClientePedidoViewModel
@{
    ViewData["Title"] = "Detalhe";
}

<h1>Cliente</h1>

<hr/>

@Model.Cliente.ClienteId <br/>
@Model.Cliente.Nome <br/>
@Model.Cliente.Email <br/>

<h1>Pedidos</h1>
<hr/>

@if(Model.Pedidos.Count == 0)
{
    <p>Nenhum pedido para o cliente</p>
}
else
{
    <ul>
    @foreach (var pedido in Model.Pedidos)
    {
        <li>Cod: @pedido.PedidoId Nome: @pedido.Nome</li>
    }
    </ul>
}